.Hobbie{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.Hobbie form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}